.username, .password, .login_fields { box-sizing: border-box; width: 100%; overflow: hidden; padding: 5px; }
.username label, .password label { display: inline-block; width: 85px; margin: 0; padding: 0; }

.rememberme { padding: 5px 0; font-size: 80%; }
.user-submit { 
    box-sizing: border-box; display: block; margin: 10px 0 0 0; padding: 15px 30px; cursor: pointer;
    border: 0; color: #fff; font-size: 16px; background-color: #21759b; 
}

input[type=text] ,
input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
}

input[type=text]:focus ,
input[type=password]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.button-login,
.button-account {
    text-indent:0;
    border:1px solid #469df5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-login {
    background-color: #1BBF1B;
}
.button-login:hover {
    background-color: #0D4D0D;
}

.button-account {
    background-color: #4E98ED;
}
.button-account:hover {
    background-color:#356194;
}
