body, html {
    height: 100%;
    width: 100%;
  margin: 0;
  font-size: 14px;
}

.widthFull {
    width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.widthHalf {
    width: 48%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}

.lead-paragraph {
    font-size: 18px;
    font-weight: 400;
}

#header-wrap {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    z-index: 1;
}
#container{ 
    margin-top: 50px;
}

.intro-header {
    background: url(../img/sun-background.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    color: #FF2020;
    font-weight: 400;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.intro-message > h3 {
    color: #4a86ff;
    font-size: 4em;
    font-weight: 200;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	.intro-message > h3 {
		font-size: 1.5em;
	}

	.intro-divider {
		width: 100%;
	}
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.topbutton {
    cursor: pointer;
    text-transform: uppercase;
}

.topbutton:hover {
    background:#dff4ff;
    color:#339966;
} 

.clearboth {clear:both; }

.footer_wrapper {
      width: 100%;
      height: auto;
      padding-bottom: 10px;
      border-top: 7px solid #42B7b0;
      background: #4a96c4;
      color: #6f6;
      overflow: auto;
      }
.footer_column {
      float: left;
      width: 30%;
      margin-right: 15px;
      }
.footer_heading {
      color: #6F6;
      margin-bottom: 10px;
      }
.footer_list {
      list-style-type: none;
      color: #FFF;
      font-size: 14px;
      }
.footer_list a, 
.footer_list a:visited {
      color: #FFF;
      text-decoration: none;
      }
.footer_list li {
      color: #FFF;
      line-height:1.3em;
      margin: .25em 0;
      padding: 0 0 0 15px;
      }
