header {
    background: #fff;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    border-bottom: 4px solid #4C9CF1;
}
header a {
    color: #4C9CF1;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

header a:hover {
    color: #444;
}

header nav {
    float: right;
    padding-top: 50px;
    padding-right: 20px;
}

#menu-icon {
    color: #057D09;
    font-weight: bold;
    font-size: 40px;
    text-transform: none;
    font-variant: small-caps;
    text-shadow: 3px 3px 5px black;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline-block;
    float: left;
    padding: 10px
}

@media only screen and (max-width : 640px) {
    header {
        position: absolute;
    }

}
