#quiz_div {
    background:#EFEBE7;
    border-radius:0px;
    margin:auto;
    float:none;
}

.question {font-size:30px; color:#438EB9;}

.answer {
    font-size: 18px;
    width: 100%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.answer:hover {
    color: #333333;
    text-decoration: none;
    background-color: #BBFFBB;
    border-color: #adadad;
}

.quiz_div > .answer {
    position: relative;
    float: left;
}
