#slideout_user {
    position: fixed;
    top: 20px;
    left: 0;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    background: #0A9DCF;
}
#slideout_find {
    position: fixed;
    top: 100px;
    left: 0;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    background: #6DAD53;
}
#slideout_review {
    position: fixed;
    top: 200px;
    left: 0;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    background: orange;
}

#slideout_inner {
    position: fixed;
    top: 0;
    left: -65%;
    width: 60%;
    background: #E4F7E6;
    padding: 25px;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

#slideout_find:hover #slideout_inner,
#slideout_review:hover #slideout_inner,
#slideout_user:hover #slideout_inner {
    left: 50px;
}
