.slideout_common {
    position: fixed;
    top: 0;
    height: 100%;
    width: 90%;
    padding: 5px;
    margin-top: 120px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.slideout_profile {
    left: -95%;
    background: #E4F7E6;
}

.slideout_find {
    left: 105%;
}
