html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 100px;
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p {
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 190px;
    height: 50px;
    background-image: url(../img/logo1-sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 143px 40px;
    text-indent: -9999em;
    overflow: hidden;
}

ul.nav {
    position: relative;
}

.jumbotron {
    color: red;
    background-image: url(../img/night-sky1-1600x500.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.marketing {
    text-align: center;
}

.col-sm-3  {
    float: left;
    position: relative;
    width: 25%;
}
.col-sm-6  {
    float: left;
    position: relative;
    width: 50%;
}
.col-lg-4 {
    float: left;
    position: relative;
    width: 33.33333333333333%;
    padding-bottom: 40px;
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.footer {
    width: 100%;
    background-color: #88ffcc;
}


@media (min-width: 769px) {
    ul.nav > li > ul {
        position: absolute;
        padding: 0;
        display: none;
    }

    ul.nav > li:hover > ul {
        display: block;
    }

    ul.nav > li > ul > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul.nav > li > ul > li > a {
        margin: 0;
        padding: 7px;
        display: block;
        width: 160px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
    }
}

@media (max-width: 768px) {
    ul.nav > li > ul {
        position: relative;
        margin: 0;
        padding: 0;
    }

    ul.nav > li > ul > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul.nav > li > ul > li > a {
        margin: 0;
        padding: 7px 7px 7px 25px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
    }
}
