   transition: 0.5s;	
}

/* makes the font 33% larger relative to the icon container */

.fa-2x {
  font-size: 20px;
  line-height:40px;
}


/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-user:before {
  content: "\f007";
}   
.fa-envelope:before {
  content: "\f0e0";
}
.fa-lock:before {
  content: "\f023";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}

.tabs h1 {
    font-size: 32px;
	font-family: 'Roboto';
	margin-bottom:15px;
	
}	
.tabs p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

/* Each Tab CSS to make Radio button Work*/

/* Blue Color Tab - If you want to used blue tab, just used following css*/

/******************** START ********************/

.tabs.blue {
  width: 470px;
  float: left;
  list-style: none;
  position: relative;
  text-align: left;
}
.tabs.blue li {
  float: left;
  display: block;
}
.tabs.blue input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs.blue label {
  display: block;
  padding: 14px 31px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  top: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs.blue .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 15px;
  position: absolute;
  top: 53px;
  left: 0;
}
.tabs.blue [id^="tab"]:checked + label {
  top: 5px;
  padding-top: 17px;
  
}
.tabs.blue [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/* TAB COLOR SCHEME FOR BLUE*/
.tabblue .tabs label {background: #16b3f5;}
.tabblue .fa:hover{color:#009EE0;}
.tabblue .tabs label:hover { background: #009EE0;}
.tabblue .tabs .tab-content {  background: #009EE0;}
.tabblue .tabs [id^="tab"]:checked + label {background: #009EE0;}
.tabblue .tabs input[type="submit"]{background:#0875a2;}
.tabblue .tabs input[type="submit"]:hover{background:#065170;}
.tabblue .tabaddon { color: #16B3F5;}

/******************** END ********************/

/* RED Color Tab - If you want to used blue tab, just used following css*/

/******************** START ********************/

.tabs.purple {
  width: 470px;
  float: left;
  list-style: none;
  position: relative;
  text-align: left;
}

.tabs.purple li {
  float: left;
  display: block;
}
.tabs.purple input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs.purple label {
  display: block;
  padding: 14px 31px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  top: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs.purple .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 15px;
  position: absolute;
  top: 53px;
  left: 0;
}
.tabs.purple [id^="tab"]:checked + label {
  top: 5px;
  padding-top: 17px;
  
}
.tabs.purple [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/* TAB COLOR SCHEME FOR RED*/
.tabpurple .tabs label {background: #6b2c85;}
.tabpurple .fa:hover{color:#9545b7;}
.tabpurple .tabs label:hover { background: #9545b7;}
.tabpurple .tabs .tab-content {  background: #9545b7;}
.tabpurple .tabs [id^="tab"]:checked + label {background: #9545b7;}
.tabpurple .tabs input[type="submit"]{background:#832da8;}
.tabpurple .tabs input[type="submit"]:hover{background:#6a1290;}
.tabpurple .tabaddon { color: #6b2c85;}


/******************** END ********************/

/* RED Color Tab - If you want to used blue tab, just used following css*/

/******************** START ********************/

.tabs.red {
  width: 470px;
  float: left;
  list-style: none;
  position: relative;
  text-align: left;
}

.tabs.red li {
  float: left;
  display: block;
}
.tabs.red input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs.red label {
  display: block;
  padding: 14px 31px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  top: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs.red .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 15px;
  position: absolute;
  top: 53px;
  left: 0;
}
.tabs.red [id^="tab"]:checked + label {
  top: 5px;
  padding-top: 17px;
  
}
.tabs.red [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/* TAB COLOR SCHEME FOR RED*/
.tabred .tabs label {background: #bc3628;}
.tabred .fa:hover{color:#ea5343;}
.tabred .tabs label:hover { background: #ea5343;}
.tabred .tabs .tab-content {  background: #ea5343;}
.tabred .tabs [id^="tab"]:checked + label {background: #ea5343;}
.tabred .tabs input[type="submit"]{background:#c03325;}
.tabred .tabs input[type="submit"]:hover{background:#ad2618;}
.tabred .tabaddon { color: #ea5343;}


/******************** END ********************/




/* TAB Form */

.tabs input[type="text"], .tabs input[type="password"], .tabs input[type="email"], .tabs select {
    border: medium none;
    color: #757575;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    width: 89%;
}
.tabs select {
width: 48%;	
float:left;
margin-right:4%;
}
.tabs select.last {
margin-right:0px;
}

.tabs .btn {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.tabs .btn em{
	font-size:12px;
}



.tabs input[type="submit"]{
	display:block;
	border:none;
	float:right;
	color:#FFFFFF;
	padding: 10px 12px;
	cursor:pointer;
	text-decoration:none;
}
.tabs input[type="submit"]:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.tabs h4{
font-style:italic;
text-align:center;
margin-bottom:10px;
font-weight:normal;	
}




.tabaddon {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #ebebeb;
    float: left;
    height: 40px;
    text-align: center;
    width: 40px;
}

.tabs .social{
	width:100%;
	float:left;
	margin-bottom:10px;
}
.tabs .social a {
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 10px 30px;
    text-decoration: none;
    width: 50%;
}
.tabs .social .fa{
margin-right:25px;
}

.tabs .social .facebook{
background: none repeat scroll 0 0 #3B5998;	
}
.tabs .social .facebook:hover{
	background:#3e5fa4;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.tabs .social .twitter{
background: none repeat scroll 0 0 #16B3F5;
}
.tabs .social .twitter:hover{
	background:#34bbf4;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
